# Conexão Oracle — MDM
MDM_USER=
MDM_PASSWORD=
MDM_CONNECT_STRING=

# Conexão Oracle — QLD
QLD_USER=
QLD_PASSWORD=
QLD_CONNECT_STRING=

# JWT
JWT_SECRET=

# Ambiente (prd | hml)
APP_ENV=prd

# Tabelas / Schemas (sem credenciais — só identificadores)
MDM_TBL_USUARIOS=
MDM_SEQ_USUARIOS=
MDM_TBL_PRF_CADASTRO=
QLD_TBL_MEDICOS=
QLD_TBL_MEDICOS_ONCO=
